<h1>Employee Tracker</h1>

<p>Here are all of your employees:</p>

<ul>
  <% @employees.each do |employee| %>
  <li><%= employee.name %></li>
  <% end %>
</ul>

<p>Create a new employee:</p>

<form action='/employee' method='post'>
  <label for='name'>Description</label>
  <input id='name' name='name' type='text'>

  <button type="submit">Add employee</button>
</form>
